data/*
!data/raw/UrbanEVDataset/UrbanEVDataset/20220901-20230228_zone-cleaned-aggregated/station_information.csv
models/*
!models/rf_demand.pkl
__pycache__/
*.pyc
.DS_Store
.venv/
env/
venv/
.env
.gemini/
.streamlit/
binary_data/

